/* CSS Document */
* {
  margin: 0;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing:border-box; 
  outline: none; 
}

:root {
  --main-color:#333;
  --background-color:#fff;
  --header-background-color: #303030;
  --menu-background-color: #ffff;
  --menu-border-color: #303030;

}

body {
  margin:0;
  background-color:var(--background-color);
  font-family:'helvetica';
  color:var(--main-color);
}

p{
  left: 50%;
  transform: translate(-50%);
}

button {
  cursor:pointer;
}

/************/
/*  HEADER  */
/************/
header {
  padding: 0 .75em;
  background-color:var(--header-background-color);
  display:grid;
  grid-template-columns:min-content 1fr min-content;  
  align-items:center;
  position:sticky;
  top:0;
  z-index: 1;
}

/* alle links in de header */
header a {
  color:black;
  text-decoration:none;
  
}


/************/
/* het logo */
/************/
header > a:first-of-type {
  line-height:1;
  justify-self:center;
  display:grid;
  grid-template-columns:min-content min-content;
  grid-gap:.25em;
  align-items:center;
}

header > a:first-of-type img {
  height:7em;
  left: 50%;
  transform: translate(-20%)
}

nav button::before {
  content:"\2630";
  display:inline-flex;
  justify-content:center;
  align-items:center;
  width:1em;
  height:1em;
  margin-left: -1em;
}

nav.toonMenu  button::before {
  content:"\274C"; /* rood kruisje */
}


/************/
/* HET MENU */
/************/
nav {
  order:-1;  
}

/* Hamburger button menu */
nav button {
  width:5em;
  height:2.5em;
  appearance:none;
  background-color:var(--button-background-color);
  border:none;
  color: white;
  position:relative;
  z-index:100;
}


/* Styling menu */
nav ul { 
  margin:0; 
  padding:5em 1em 0 ;
  background:white;
  list-style:none;
  position: fixed;
  left:0; right:0; top:0; bottom:0;
  transform:translatex(-100%);
  transition:.5s;
  z-index:50;

}

nav.toonMenu ul {
  transform:translatex(0);
}

nav li {
  margin:0;
  padding:0;
}

nav li a {
  display:flex;
  align-items:center;
  gap:.25em;
  padding:.25em 1em;
  margin: 1em 0;
}

nav a img {
  width:auto;
  height:2em;
}

nav li a:hover {
  font-weight: bold;
}

nav li a.active {
  font-weight:bold;
}


/* RESPONSIVENESS -> menu */

@media (min-width:64em) {
  nav {
    justify-self:center;
    order:0;
    transform: translate(-10%);
  }
  
  nav button {
    display:none;
  }
  
  nav ul {
    position:static;
    transform:none;
    display:flex;
    padding:0;
    background:none;
  }
  
  nav a {
    border:none;
    color: white;
  }
}



/****************************************************************/
/*                        CONTENT                               */
/****************************************************************/

/* slider */
section:first-of-type {
  height:72vh;
  display:flex;
  justify-content: center;
  width: 100vw;
  background:#303030;
}

section:first-of-type img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}


section:nth-of-type(2){
  background-color: #8499B1;
  height: 6em;
  width: 100%;
  bottom: 0%;
  position: relative;
  font-family:'helvetica';
  text-align: center;
}

section:nth-of-type(2) p {
  top: 60%;
  position: relative;
  font-size: 90%;
  color: whitesmoke;
}

section:nth-of-type(2) p:first-of-type {
  text-transform: uppercase;
  position: absolute;
  top:25%;
  text-align: center;
  font-size: 80%;
  font-weight: bold;
  color: whitesmoke;
}

/* JAS en VEST */
article:first-of-type{

  display:grid;
  width: 100vw;
  background:#303030;

}

article:first-of-type img{
  height: 100%;
  object-fit: cover;
  width: 100%;
}

@media (min-width: 40em) {
  article:first-of-type {
    display: grid;
    grid-template-columns:1fr 1fr;
  }
}

article:first-of-type a:hover img{
  opacity: 0.5;
  cursor: pointer;
}

.button {
  width: 5em;
  height: 5em;
  background-color: #5F7995;
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  z-index: 2;
}

